boto3==1.42.60
fastapi==0.133.0
groq==1.0.0
nba_api==1.11.3
openai==2.29.0
pandas==3.0.1
pinecone==8.1.0
psycopg2-binary==2.9.11
pydantic==2.12.5
python-dotenv==1.2.1
python-multipart==0.0.22
requests==2.32.5
SQLAlchemy==2.0.48
uvicorn==0.41.0
