boto3==1.42.60
fastapi==0.135.1
groq==1.1.1
nba_api==1.11.4
pandas==3.0.1
pinecone==8.1.0
pydantic==2.12.5
python-dotenv==1.2.2
SQLAlchemy==2.0.34
psycopg2-binary==2.9.10
uvicorn==0.34.0
openai==2.29.0